body {
    background-color: rgb(92, 90, 90);
    font-family: 'Poppins', sans-serif;
}

#imagens {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#imagens img {
    box-shadow: 2px 2px 2px 2px;
}

h1 {
    text-align: center;
    font-size: 60px;
    color: #fff;
}